@include media-breakpoint-down(lg) {
  order: 2;
}

@media only screen and (min-width: 1140px) {
  .auth-content {
    @include media-breakpoint-up(lg) {
      &__form {
        margin-left: 33%;
        position: relative;
        z-index: 1000;
        background-color: white;
      }
    }
  }
}
