.dashboard__model-jobs {
  @media only screen and (min-width: 1137px) {
    .menu-tabs {
      position: relative;
      top: -57px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .menu-tabs {
      top: -40px;
    }
  }
}
