.edit-profile {
  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__button {
    padding: 24px 15px 7px;
  }

  &__image {
    padding-right: 0;
    padding-bottom: 15px;
    min-height: calc(100vh / 2);
  }

  &__thumbnails {
    div {
      padding-right: 0;
      margin-bottom: 15px;
      min-height: calc(100vh / 4);
    }
  }

  &__bookings {
    li:nth-child(n + 5) {
      display: none;
    }

    &-more {
      li:nth-child(n + 5) {
        display: block;
      }
    }
  }
}

.star {
  color: $gray-3;
}

.star__active {
  color: $primary !important;
}
