.main-title {
  position: absolute;
  z-index: 1000;
  text-transform: uppercase;
  color: transparent;
  text-align: center;
  font-size: 5.625rem;
  font-weight: 700;
  font-weight: bold;
  line-height: 5.625rem;
  letter-spacing: $px5;

  &::before {
    content: 'hire models now';
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $primary;
    color: transparent;
    position: absolute;
    top: -4px;
    right: -7px;
  }

  &::after {
    content: 'hire models now';
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
  }
}

.main-page {
  .auth-content__form {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .carousel-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__slogan {
    font-size: $px13;
    letter-spacing: 0.2px;
    position: relative;
    top: -$px5;
  }

  .auth-content__form {
    h2,
    p {
      color: $primary;
    }

    h2 {
      font-weight: normal;
      text-transform: initial;
      font-size: 2rem;
    }

    button {
      display: block;
      width: 100%;
    }
  }

  &__content {
    position: relative;

    .container {
      position: relative;
      padding: 1px 0;
    }

    h2,
    h3 {
      color: $primary;
    }

    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }

    @media only screen and (lg) {
      margin: 0;
    }

    @media only screen and (min-width: 1140px) {
      position: relative;
      z-index: 99;
      margin: 0 15%;

      .container {
        position: relative;
        z-index: 100;
      }

      .bg {
        position: absolute;
        top: 0;
        height: 0;
        z-index: 1;
        opacity: 0.6;
      }

      .bg-1 {
        width: 120px;
        right: 10%;
        border-top: 100px solid $gray-2;
        border-left: 300px solid transparent;
        border-right: 20px solid transparent;
      }

      .bg-2 {
        width: 120px;
        left: 10%;
        border-top: 100px solid $gray-2;
        border-left: 180px solid transparent;
        border-right: 60px solid transparent;
      }

      .bg-3 {
        left: 40%;
        bottom: 0;
        border-bottom: 100px solid $gray-2;
        border-left: 120px solid transparent;
        border-right: 90px solid transparent;
        transform: skewX(6deg) translateX(-90%);
      }
    }
  }

  &__about,
  &__how-it,
  &__customers {
    h2 {
      font-size: $px40;
      line-height: 0.55;
      letter-spacing: 3.44px;
      text-align: center;
      color: #ff929c;
      margin: 64px 0 52px;

      @include media-breakpoint-down(md) {
        padding-bottom: $px30;
      }
    }

    h3 {
      font-size: $px40;
      line-height: 0.55;
      letter-spacing: 3.44px;
      text-align: center;
      color: #ff929c;
      margin-bottom: 64.5px;

      @include media-breakpoint-down(md) {
        font-size: $px20;
        margin-bottom: $px40;
      }
    }

    p {
      font-size: 15.5px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.42;
      letter-spacing: 1.33px;
      text-align: left;
      color: #8d8d8d;
    }

    .row {
      margin-bottom: 75px;

      @include media-breakpoint-down(md) {
        margin-bottom: $px20;
      }
    }

    @include media-breakpoint-down(md) {
      .img-bg {
        order: 1;
      }
    }
  }
}

.canvas {
  display: none;
}

@media only screen and (min-width: 1140px) {
  .canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    &__opacity {
      opacity: 0.3;
    }
  }

  .main-title {
    margin: auto 8%;
  }
  .main-page {
    position: relative;
    width: 100%;
    height: 100%;

    .auth-navbar {
      &::before,
      &::after {
        display: none !important;
      }
    }

    .content-row {
      order: 2;
    }

    .carousel-row {
      order: 1;
      position: relative;
      right: -8%;

      &::before {
        content: '';
        background-color: white;
        position: absolute;
        z-index: 101;
        right: 0;
        height: 100%;
        width: 20%;
        z-index: 100;
        transform-origin: bottom left;
        transform: skewX(-5deg) translateX(58%);
      }
    }

    .auth-content__carousel {
      &::before {
        transform: skewX(-20deg) translateX(97%);
        opacity: 0.3;
      }

      &::after {
        transform: skewX(-12deg) translateX(134%);
      }
    }

    .form-group {
      margin-bottom: $px20 !important;
    }

    .form-group.main-page__forgot-password {
      margin-bottom: $px40 !important;
    }

    .auth-content__form {
      transform: skewX(0) translateX(0);
      left: -12%;

      h2 {
        font-size: 3.3rem;
      }

      button {
        padding: $px10 1rem;
        margin-bottom: 0;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__slogan {
      margin-bottom: $px40;
    }
  }
}

@media only screen and (width: 1366px) {
  .main-page {
    .carousel-row {
      &::before {
        transform: skewX(-5deg) translateX(50%);
      }
      .auth-content__carousel {
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .canvas {
    display: none;
  }
  .main-title {
    margin: auto 15% auto 0;
    font-size: 70px;
    line-height: 80px;
    text-align: left;
    letter-spacing: -$px2;

    &::before {
      top: -$px4;
      right: -$px7;
    }
  }
  .main-page {
    .auth-content__form {
      form {
        margin: 0 10%;
      }
    }
    .carousel-row {
      &::before {
        width: 30%;
        transform: skewX(-8deg) translateX(5%);
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .main-title {
    margin: auto 2%;
    text-align: center;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 1.33px;

    &::before {
      top: -$px3;
      right: -$px3;
    }
  }
}

@include media-breakpoint-down(sm) {
  .main-title {
    font-size: 40px;
    text-align: center;
    line-height: 45px;
    margin: auto 3%;

    &::before {
      top: -$px2;
      right: -$px2;
      -webkit-text-stroke-width: $px2;
    }
  }
  .main-page {
    .auth-content__form {
      form {
        margin: 0;
      }
    }
    button {
      padding: $px10 auto;
    }
  }
}

.img-bg {
  overflow: hidden;

  p {
    margin: 0;
  }
}

.img-bg__1,
.img-bg__2,
.img-bg__3,
.img-bg__4 {
  &::before,
  &::after,
  span::before,
  span::after {
    content: '';
    position: absolute;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
  }

  overflow: hidden;

  @include media-breakpoint-down(md) {
    &::before,
    &::after,
    span::before,
    span::after {
      display: none;
    }
  }
}

.img-bg__1 {
  position: absolute;

  &::before {
    transform: skewX(-15deg) translateX(-60%);
    width: 30%;
    height: 100%;
  }
  &::after {
    transform: skewX(-20deg) translateX(-60%);
    width: 50%;
    height: 100%;
    top: 0;
  }

  span {
    &::before {
      transform: skewX(-15deg) translateX(45%);
      width: 30%;
      height: 100%;
      right: 0;
    }

    &::after {
      transform: skewX(-20deg) translateX(-50%);
      width: 50%;
      height: 100%;
      top: 0;
    }
  }
}

.img-bg__2 {
  &::before {
    transform: skewX(12deg) translateX(-60%);
    width: 30%;
    height: 100%;
  }
  &::after {
    transform: skewX(18deg) translateX(-60%);
    width: 50%;
    height: 100%;
    top: 0;
  }

  span {
    &::before {
      transform: skewX(12deg) translateX(60%);
      width: 30%;
      height: 100%;
      right: 0;
    }

    &::after {
      transform: skewX(16deg) translateX(-34%);
      width: 50%;
      height: 100%;
      top: 0;
    }
  }
}

.img-bg__3 {
  &::before {
    transform: skewX(-15deg) translateX(-60%);
    width: 35%;
    height: 100%;
  }
  &::after {
    transform: skewX(-20deg) translateX(-60%);
    width: 50%;
    height: 100%;
    top: 0;
  }

  span {
    &::before {
      transform: skewX(-15deg) translateX(65%);
      width: 30%;
      height: 100%;
      right: 0;
    }

    &::after {
      transform: skewX(-20deg) translateX(-40%);
      width: 50%;
      height: 100%;
      top: 0;
    }
  }
}

.img-bg__4 {
  &::before {
    transform: skewX(10deg) translateX(-50%);
    width: 30%;
    height: 100%;
  }
  &::after {
    transform: skewX(7deg) translateX(-80%);
    width: 50%;
    height: 100%;
    top: 0;
  }

  span {
    &::before {
      transform: skewX(8deg) translateX(50%);
      width: 30%;
      height: 100%;
      right: 0;
    }

    &::after {
      transform: skewX(12deg) translateX(-44%);
      width: 50%;
      height: 100%;
      top: 0;
    }
  }
}

.main-page__about {
  .img-bg {
    span {
      margin: 0;
      overflow: hidden;
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  @include media-breakpoint-up(lg) {
    &-text {
      margin: 0 $px15;
    }
  }
}

.main-page__how-it {
  .table {
    font-size: $px13;
    width: 100%;

    &__text {
      font-size: 15px;
      padding: 2px 26px;
      letter-spacing: 0.9px;
      display: inline-block;
      border: 2px solid $primary;
      border-radius: 10px;
      width: 140px;
      height: 45px;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: auto;
    }
  }

  td {
    border: 0;
    color: $gray-3;
    padding-bottom: 25px;
    vertical-align: middle;
    text-align: center;
    position: relative;
  }

  td:nth-child(1),
  td:nth-child(5) {
    width: 16%;
  }

  td:nth-child(1) {
    text-align: left;
    padding-left: 0;

    .dash {
      margin-left: 1rem;
    }
  }

  td:nth-child(5) {
    text-align: right;
  }

  td:nth-child(1),
  td:nth-child(2) {
    color: $primary;
  }

  td:nth-child(5) {
    .dash {
      position: absolute;
      left: 10px;
      top: 42%;

      &::before,
      &::after,
      i::before,
      i::after {
        border-color: $gray-3;
      }
    }
  }

  td:nth-child(4),
  td:nth-child(5) {
    path {
      fill: $gray-3;
    }
  }

  td:nth-child(4) {
    .table__text {
      border-color: $gray-3;
    }
  }

  @include media-breakpoint-down(lg) {
    td:nth-child(3) {
      .dash {
        display: none;
      }
    }
  }

  @include media-breakpoint-down(md) {
    td:nth-child(1),
    td:nth-child(5) {
      display: none;
    }
  }
  @include media-breakpoint-up(md) {
    td:nth-child(2),
    td:nth-child(4) {
      width: 10%;
    }

    td:nth-child(3) {
      width: 3%;
      padding: 0;
    }

    .table {
      width: 80%;
      margin-left: 10%;
    }
  }

  @include media-breakpoint-down(sm) {
    td:nth-child(3) {
      .dash {
        display: block;
      }
    }
  }

  svg {
    height: 43px;
  }

  #prefix__Shape-4 {
    fill: $gray-3 !important;
  }

  #prefix__tap {
    margin: 0 8px;
  }

  .dash {
    display: inline-block;
    position: relative;

    &::before,
    &::after,
    i::before,
    i::after {
      content: '';
      position: absolute;
      top: 0;
      width: 12px;
      height: 1px;
      border-top: 1px solid $primary;
    }

    &::after {
      left: 19px;
    }

    i::before {
      left: 37px;
    }
    i::after {
      left: 54px;
    }

    @media only screen and (max-width: 1350px) {
      i::after {
        display: none;
      }
    }

    @media only screen and (max-width: 1270px) {
      i::before,
      i::after {
        display: none;
      }
    }

    @media only screen and (max-width: 1137px) {
      i::before {
        display: block;
      }
    }
  }

  td:nth-child(3) {
    .dash {
      position: absolute;
      left: -20%;
      top: 45%;

      &::after {
        display: none;
      }
    }

    :nth-child(3) {
      right: -110%;
      &::before {
        color: $gray-3;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .dash {
      display: none !important;
    }
  }
}

.custom-card {
  position: relative;
  padding-top: 6.25rem;
  text-align: center;
  margin-bottom: 3rem;

  dt {
    text-transform: uppercase;
    color: $primary;
    margin: 1rem 0 1.5rem;
  }

  dd {
    letter-spacing: 1px;
    color: $gray-3;
    line-height: 1.5rem;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    width: 6.25rem;
    height: 6.25rem;
    margin-left: -3.125rem;
    background: transparent url('../../../assets/img/icons/sun-shining.svg')
      no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 1.5625rem;
      top: 1.5625rem;
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 1.5625rem;
      background-color: white;
    }

    svg {
      height: 3.125rem;
    }
  }
}

.main-page__customers {
}
