.main-title {
  position: absolute;
  z-index: 1000;
  text-transform: uppercase;
  color: transparent;
  text-align: center;
  font-size: 5.625rem;
  font-weight: 700;
  font-weight: bold;
  line-height: 5.625rem;
  letter-spacing: $px5;

  &::before {
    content: 'hire models now';
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $primary;
    color: transparent;
    position: absolute;
    top: -4px;
    right: -7px;
  }

  &::after {
    content: 'hire models now';
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
  }
}

.main-page {
  .auth-content__form {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .carousel-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__slogan {
    font-size: $px13;
    letter-spacing: 0.2px;
    position: relative;
    top: -$px5;
  }

  .auth-content__form {
    h2,
    p {
      color: $primary;
    }

    h2 {
      font-weight: normal;
      text-transform: initial;
      font-size: 2rem;
    }

    button {
      display: block;
      width: 100%;
    }
  }

  &__content {
    position: relative;

    .container {
      position: relative;
    }

    h2,
    h3 {
      color: $primary;
    }

    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }

    @media only screen and (lg) {
      margin: 0;
    }

    @media only screen and (min-width: 1140px) {
      position: relative;
      z-index: 99;
      margin: 0 15%;

      .container {
        position: relative;
        z-index: 100;
      }

      .bg {
        position: absolute;
        top: 0;
        height: 0;
        z-index: 1;
        opacity: 0.36;
      }

      .bg-1 {
        width: 120px;
        right: 10%;
        border-top: 100px solid $gray-2;
        border-left: 300px solid transparent;
        border-right: 20px solid transparent;
      }

      .bg-2 {
        width: 120px;
        left: 10%;
        border-top: 100px solid $gray-2;
        border-left: 180px solid transparent;
        border-right: 60px solid transparent;
      }

      .bg-3 {
        left: 40%;
        bottom: 0;
        border-bottom: 100px solid $gray-2;
        border-left: 120px solid transparent;
        border-right: 90px solid transparent;
        transform: skewX(6deg) translateX(-90%);
      }
    }
  }

  &__about {
    h2 {
      font-size: $px40;
      line-height: 0.55;
      letter-spacing: 3.44px;
      text-align: center;
      color: #ff929c;
      padding: 64px 0 52px;

      @include media-breakpoint-down(md) {
        padding-bottom: $px30;
      }
    }

    h3 {
      font-size: $px40;
      line-height: 0.55;
      letter-spacing: 3.44px;
      text-align: center;
      color: #ff929c;
      margin-bottom: 64.5px;

      @include media-breakpoint-down(md) {
        font-size: $px20;
        margin-bottom: $px40;
      }
    }

    p {
      font-size: 15.5px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.42;
      letter-spacing: 1.33px;
      text-align: left;
      color: #8d8d8d;
    }

    .row {
      margin-bottom: 75px;

      @include media-breakpoint-down(md) {
        margin-bottom: $px20;
      }
    }

    @include media-breakpoint-down(md) {
      .img-bg {
        order: 1;
      }
    }
  }
}

.canvas {
  display: none;
}

@media only screen and (min-width: 1140px) {
  .canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    &__opacity {
      opacity: 0.3;
    }
  }

  .main-title {
    margin: auto 8%;
  }
  .main-page {
    position: relative;
    width: 100%;
    height: 100%;

    .auth-navbar {
      &::before,
      &::after {
        display: none !important;
      }
    }

    .content-row {
      order: 2;
    }

    .carousel-row {
      order: 1;
      position: relative;
      right: -8%;

      &::before {
        content: '';
        background-color: white;
        position: absolute;
        z-index: 101;
        right: 0;
        height: 100%;
        width: 20%;
        z-index: 100;
        transform-origin: bottom left;
        transform: skewX(-5deg) translateX(58%);
      }
    }

    .auth-content__carousel {
      &::before {
        transform: skewX(-20deg) translateX(97%);
        opacity: 0.3;
      }

      &::after {
        transform: skewX(-12deg) translateX(134%);
      }
    }

    .form-group {
      margin-bottom: $px20 !important;
    }

    .form-group.main-page__forgot-password {
      margin-bottom: $px40 !important;
    }

    .auth-content__form {
      transform: skewX(0) translateX(0);
      left: -12%;

      h2 {
        font-size: 3.3rem;
      }

      button {
        padding: $px10 1rem;
        margin-bottom: 0;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__slogan {
      margin-bottom: $px40;
    }
  }
}

.img-bg__1,
.img-bg__2,
.img-bg__3,
.img-bg__4 {
  &::before,
  &::after,
  p::before,
  p::after {
    content: '';
    position: absolute;
    background-color: white;
    opacity: 0.5;
  }

  overflow: hidden;

  @include media-breakpoint-down(md) {
    &::before,
    &::after,
    p::before,
    p::after {
      display: none;
    }
  }
}

.img-bg__1 {
  &::before {
    transform: skewX(-15deg) translateX(-60%);
    width: 30%;
    height: 100%;
  }
  &::after {
    transform: skewX(-20deg) translateX(-60%);
    width: 50%;
    height: 100%;
    top: 0;
  }

  p {
    &::before {
      transform: skewX(-15deg) translateX(35%);
      width: 30%;
      height: 100%;
      right: 0;
    }

    &::after {
      transform: skewX(-20deg) translateX(-50%);
      width: 50%;
      height: 100%;
      top: 0;
    }
  }
}

.img-bg__2 {
  &::before {
    transform: skewX(12deg) translateX(-60%);
    width: 30%;
    height: 100%;
  }
  &::after {
    transform: skewX(18deg) translateX(-60%);
    width: 50%;
    height: 100%;
    top: 0;
  }

  p {
    &::before {
      transform: skewX(12deg) translateX(50%);
      width: 30%;
      height: 100%;
      right: 0;
    }

    &::after {
      transform: skewX(16deg) translateX(-34%);
      width: 50%;
      height: 100%;
      top: 0;
    }
  }
}

.img-bg__3 {
  &::before {
    transform: skewX(-15deg) translateX(-60%);
    width: 35%;
    height: 100%;
  }
  &::after {
    transform: skewX(-20deg) translateX(-60%);
    width: 50%;
    height: 100%;
    top: 0;
  }

  p {
    &::before {
      transform: skewX(-15deg) translateX(35%);
      width: 30%;
      height: 100%;
      right: 0;
    }

    &::after {
      transform: skewX(-20deg) translateX(-50%);
      width: 50%;
      height: 100%;
      top: 0;
    }
  }
}

.img-bg__4 {
  &::before {
    transform: skewX(10deg) translateX(-40%);
    width: 30%;
    height: 100%;
  }
  &::after {
    transform: skewX(7deg) translateX(-80%);
    width: 50%;
    height: 100%;
    top: 0;
  }

  p {
    &::before {
      transform: skewX(8deg) translateX(50%);
      width: 30%;
      height: 100%;
      right: 0;
    }

    &::after {
      transform: skewX(12deg) translateX(-34%);
      width: 50%;
      height: 100%;
      top: 0;
    }
  }
}

@media only screen and (width: 1366px) {
  .main-page {
    .carousel-row {
      &::before {
        transform: skewX(-5deg) translateX(50%);
      }
      .auth-content__carousel {
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .canvas {
    display: none;
  }
  .main-title {
    margin: auto 15% auto 0;
    font-size: 70px;
    line-height: 80px;
    text-align: left;
    letter-spacing: -$px2;

    &::before {
      top: -$px4;
      right: -$px7;
    }
  }
  .main-page {
    .auth-content__form {
      form {
        margin: 0 10%;
      }
    }
    .carousel-row {
      &::before {
        width: 30%;
        transform: skewX(-8deg) translateX(5%);
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .main-title {
    margin: auto 2%;
    text-align: center;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 1px;

    &::before {
      top: -$px3;
      right: -$px3;
    }
  }
}

@include media-breakpoint-down(sm) {
  .main-title {
    font-size: 40px;
    text-align: center;
    line-height: 45px;
    margin: auto 3%;

    &::before {
      top: -$px2;
      right: -$px2;
      -webkit-text-stroke-width: $px2;
    }
  }
  .main-page {
    .auth-content__form {
      form {
        margin: 0;
      }
    }
    button {
      padding: $px10 auto;
    }
  }
}

.main-page__how-it {
  .table {
    font-size: $px13;
    width: 100%;
  }

  td {
    border: 0;
    color: $gray-3;
  }

  td:nth-child(1) {
    text-align: right;
  }

  td:nth-child(5) {
    text-align: left;
  }

  td:nth-child(1),
  td:nth-child(2) {
    color: $primary;
  }

  td:nth-child(4),
  td:nth-child(5) {
    path {
      fill: $gray-3;
    }
  }

  #prefix__Shape-4 {
    fill: $gray-3 !important;
  }

  .dash {
    white-space: nowrap;
  }
}
