.main-title {
  position: absolute;
  z-index: 1000;
  text-transform: uppercase;
  color: transparent;
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  font-weight: bold;
  line-height: 90px;
  letter-spacing: 5px;

  &::before {
    content: 'hire models now';
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $primary;
    color: transparent;
    position: absolute;
    top: -4px;
    right: -7px;
  }

  &::after {
    content: 'hire models now';
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
  }
}

.main-page {
  .auth-content__form {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .carousel-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__slogan {
    font-size: $px13;
    letter-spacing: 0.2px;
    position: relative;
    top: -5px;
  }

  .auth-content__form {
    h2,
    p {
      color: $primary;
    }

    h2 {
      font-weight: normal;
      text-transform: initial;
      font-size: 2rem;
    }

    button {
      display: block;
      width: 100%;
    }

    .sub-text {
      color: $gray-3;
    }
  }
}

@media only screen and (min-width: 1140px) {
  .main-title {
    margin: auto 8%;
  }
  .main-page {
    position: relative;
    width: 100%;
    height: 100%;

    .content-row {
      order: 2;
    }

    .carousel-row {
      order: 1;
      position: relative;
      right: -8%;

      &::before {
        content: '';
        background-color: white;
        position: absolute;
        z-index: 101;
        right: 0;
        height: 100%;
        width: 20%;
        z-index: 100;
        transform-origin: bottom left;
        transform: skewX(-5deg) translateX(58%);
      }
    }

    .auth-content__carousel {
      &::before {
        transform: skewX(-20deg) translateX(97%);
        opacity: 0.3;
      }

      &::after {
        transform: skewX(-12deg) translateX(134%);
      }
    }

    .form-group {
      margin-bottom: 20px !important;
    }

    .form-group.main-page__forgot-password {
      margin-bottom: 40px !important;
    }

    .auth-content__form {
      transform: skewX(0) translateX(0);
      left: -12%;

      h2 {
        font-size: 3.3rem;
      }

      button {
        padding: $px10 1rem;
        margin-bottom: 0;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__slogan {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (width: 1366px) {
  .main-page {
    .carousel-row {
      &::before {
        transform: skewX(-5deg) translateX(50%);
      }
      .auth-content__carousel {
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .main-title {
    margin: auto 15% auto 0;
    font-size: 70px;
    line-height: 80px;
    text-align: left;
    letter-spacing: -2px;

    &::before {
      top: -4px;
      right: -7px;
    }
  }
  .main-page {
    .auth-content__form {
      form {
        margin: 0 10%;
      }
    }
    .carousel-row {
      &::before {
        width: 30%;
        transform: skewX(-8deg) translateX(5%);
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .main-title {
    margin: auto 2%;
    text-align: center;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 1px;

    &::before {
      top: -3px;
      right: -3px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .main-title {
    font-size: 40px;
    text-align: center;
    line-height: 45px;
    margin: auto 3%;

    &::before {
      top: -2px;
      right: -2px;
      -webkit-text-stroke-width: 2px;
    }
  }
  .main-page {
    .auth-content__form {
      form {
        margin: 0;
      }
    }
    button {
      padding: $px10 auto;
    }
  }
}
